@model Futbol.ViewModel.VMConfirmacion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirmacion para @Model.Jugador.Nombre</h1>
<h2>Lugares disponibles para el partido : @Model.CantidadLugaresDisponibles</h2>
<h4>Partido @Model.FechaPartido.ToString()</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirmacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaPartido" disabled="disabled" class="control-label"></label>
                <input asp-for="FechaPartido" disabled="disabled" class="form-control" />
                <span asp-validation-for="FechaPartido" class="text-danger"></span>
                <span asp-validation-for="FechaPartido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.ConfirmadoString" class="btn btn-primary" />
            </div>
            <input asp-for="@Model.Jugador.Id" type="hidden" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
